@model IEnumerable<UAT_Report.Models.SaleOrder>
@{
    ViewData["Title"] = "Index";
}

<h1>UAT Summary</h1>
<div class="table-wrapper-scroll-y my-custom-scrollbar ">
   <label>Sort</label>
    <select onchange="example" id=""> 
        <option>10</option>
        <option>25</option>
        <option>50</option>
        <option>100</option>
    </select>
    <table cellspacing="0" id="example" class="table table-striped table-success mb-0 table-bordered table-sm" width="100%">
        <thead>
            <tr class="bg-success" style="color:white">
                <th scope="col">
                    Date
                </th>
                <th scope="col">
                    Saleperson Code
                </th>
                <th scope="col">
                    Customer Status
                </th>
                <th scope="col">
                    SO No.
                </th>
                <th scope="col">
                    Description
                </th>
                <th scope="col">
                    Owner Service
                </th>
                <th scope="col">
                    Subservice
                </th>
                <th scope="col">
                    Customer No.
                </th>
                <th scope="col">
                    Customer Name
                </th>
                <th scope="col">
                    Staring date
                </th>
                <th scope="col">
                    Ending date
                </th>
                <th>
                    Reference Job
                </th>
                <th scope="col">
                    Follow UAT
                </th>
                <th scope="col">
                    Recieve
                </th>
                <th scope="col">
                    Remark
                </th>
                <th scope="col">
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="table-light">
                    <td>
                        @Html.DisplayFor(modelItem => item.SODate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SONumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OwnerService)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubServiceName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartingDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndingDate)
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-success btn-sm m-0 waves-effect">
                            @Html.DisplayFor(modelItem => item.Status)
                        </button> 
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

<style>
    .my-custom-scrollbar {
        position: relative;
        height: 500px;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }
    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting:before,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_asc:before,
    table.dataTable thead .sorting_asc_disabled:after,
    table.dataTable thead .sorting_asc_disabled:before,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_desc:before,
    table.dataTable thead .sorting_desc_disabled:after,
    table.dataTable thead .sorting_desc_disabled:before {
        bottom: .5em;
    }
</style>

@section Scripts{ 
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
}