@model IEnumerable<UAT_Report.Models.SaleOrder>
@{
    ViewData["Title"] = "Index";
}

<style>
    .my-custom-scrollbar {
        position: relative;
        height: 500px;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }
    .thai {
        font-family: 'Prompt', sans-serif !important;
    }

</style>

<h1>UAT Summary</h1>

    <table id="example" cellspacing="0" class="table table-striped table-success mb-0 table-bordered table-sm " width="100%">
        <thead>
            <tr class="bg-success" style="color:white">
                <th scope="col">Date</th>
                <th scope="col">SalepersonCode</th>
                <th scope="col">CustomerStatus</th>
                <th scope="col"> SONo.</th>
                <th scope="col">Description</th>
                <th scope="col">OwnerService</th>
                <th scope="col">Subservice</th>
                <th scope="col">CustomerNo.</th>
                <th scope="col">CustomerName</th>
                <th scope="col">Staringdate</th>
                <th scope="col">Endingdate</th>
                <th scope="col">ReferenceJob</th>
                <th scope="col">FollowUAT</th>
                <th scope="col">Recieve</th>
                <th scope="col">Remark</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="table-light">
                    <td>
                        @Html.DisplayFor(modelItem => item.SODate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerStatus)
                    </td>
                    <td scope="col">
                        @Html.DisplayFor(modelItem => item.SONumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OwnerService)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubServiceName)
                    </td>
                    <td >
                        @Html.DisplayFor(modelItem => item.CustomerNo)
                    </td>
                    <td class="thai">
                        @Html.DisplayFor(modelItem => item.CustomerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartingDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndingDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SONumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-success btn-sm m-0 waves-effect">
                            @Html.DisplayFor(modelItem => item.Status)
                        </button>
                    </td>

                </tr>
            }
        </tbody>
        <tfoot>

        </tfoot>
    </table>


@section Scripts{
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://fonts.googleapis.com/css2?family=Prompt:wght@100&display=swap" ></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable(
                {
                    searching: false,
                    ordering: false,
                    "scrollY": true,
                    "scrollX": true
                }
            );
        });
    </script>
}