<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UAT_Report</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">rel="stylesheet">
    </environment>
    <script src="https://kit.fontawesome.com/9e4462ff45.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="d-flex" id="wrapper">
        <div class="bg-green border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">
                <div class="inet_logo">
                    <img src="~/images/inetlogo.png" />
                </div>
            </div>
            <div class="list-group list-group-flush bg-green">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="list-group-item list-group-item-action
                   @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active-menu" : "bg-menu")">Dashboard</a>
            </div>
            <div class="list-group list-group-flush bg-green">
                <a asp-area="" asp-controller="SubServices" asp-action="SubServiceInsert" class="list-group-item list-group-item-action
                   @(ViewContext.RouteData.Values["Action"].ToString() == "SubServiceInsert" ? "active-menu" : "bg-menu")">Sub Service</a>
            </div>
            <div class="list-group list-group-flush bg-green">
                <a asp-area="" asp-controller="SaleOrders" asp-action="SaleOrderInsert" class="list-group-item list-group-item-action
                   @(ViewContext.RouteData.Values["Action"].ToString() == "SaleOrderInsert" ? "active-menu" : "bg-menu")">Sale Order</a>
            </div>
        </div>

        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
                @*<button class="btn btn-primary" id="menu-toggle"><i class="fas fa-bars"></i></button>*@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active-nav" : "")">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a>
                        </li>
                        <li class="nav-item ml-auto @(ViewContext.RouteData.Values["Action"].ToString() == "SubServiceInsert" ? "active-nav" : "")">
                            <a class="nav-link" asp-area="" asp-controller="SubServices" asp-action="SubServiceInsert">Insert Sub Service</a>
                        </li>
                        <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "SaleOrderInsert" ? "active-nav" : "")">
                            <a class="nav-link" asp-area="" asp-controller="SaleOrders" asp-action="SaleOrderInsert">Insert Sale Order</a>
                        </li>
                        <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "SaleOrderIndex" ? "active-nav" : "")">
                            <a class="nav-link" asp-area="" asp-controller="SaleOrders" asp-action="SaleOrderIndex">Sale Order</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container-fluid">
                <partial name="_CookieConsentPartial" />
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - UAT_Report - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    @RenderSection("Scripts", required: false)
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>
</html>
